.container {
  background: lightblue;
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
    auto;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.deck {
  position: absolute;
  width: 300px;
  height: 200px;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.deck > div {
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  max-width: 185px;
  height: 85vh;
  max-height: 275px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}




.contenedor {
  position: relative; /* Define un contexto de posicionamiento */
  width: 125px;
  height: 175px;  
  text-align: center;
}

.superpuesto1 {
  position: absolute; /* Se posiciona absolutamente dentro del contenedor */
  top: 50px; /* Distancia desde la parte superior */
  left: 50px; /* Distancia desde la izquierda */
  width: 150px;
  height: 200px;
  
  z-index: 4; /*  Asegura que se muestre por encima de otros elementos */
}

.superpuesto2 {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 150px;
  height: 200px;
  
  z-index: 3; /* Se muestra debajo del div superpuesto */
}

.superpuesto3 {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 150px;
  height: 200px;
  
  z-index: 2; /* Se muestra debajo del div superpuesto */
}

.superpuesto4 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: 200px;
  
  z-index: 1; /* Se muestra debajo del div superpuesto */
}

.letra{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.parent-container {
  display: flex;
 
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Example: Ensures the parent takes full viewport height for vertical centering */
}